// Place all the styles related to the challenge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .index-container{
//     display: flex;
//     flex-direction: column;

// }
// .challenge{
//     display: flex;
//     justify-content: space-between;
//     // align-self: flex-start;
//     width: 50%;
// }

.features{
    display: flex;
    justify-content: flex-start;
    margin: 2% 2% 2% 0;
}
.dropdown{
    margin-right: 2%;
}