// Place all the styles related to the challenge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .index-container{
//     display: flex;
//     flex-direction: column;

// }
// .challenge{
//     display: flex;
//     justify-content: space-between;
//     // align-self: flex-start;
//     width: 50%;
// }

.features{
    display: flex;
    justify-content: flex-start;
    margin: 2% 2% 2% 0;
    align-items: center;
}
.dropdown{
    margin-right: 2%;
}
.thead{
    background-color: #1665cc;
}
th{
    color: white;
}
.new_challenge{
    display: flex;
    justify-content: flex-start;
}
.form-field{
    display: flex;
  width: 62%;
}
.form-control{
    margin-right: 3%;
}

.header{
    height: 4em;
    display: flex;
    justify-content: space-between;
    background-color: #18374D;
    color: white; 
    padding: 1em 0.5em 2em 0.5em ;
    margin-bottom: 1%;
}

.logout ,.home{
    color: white;
    text-decoration: none;
}

.home{
    margin-left: 0.5%;
}

.txt{
    font-size: 22px;
}
